

.empNav{
    background-color: #F018DB;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    height: 100px;
    margin-top: 0;
    /* margin-bottom: 100px; */
    position: fixed;
    width: 100%;
    z-index: 1;
}

.empNav__logo{
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 10%;
}
.empNav__logo>h2{
    color: #fff !important;
}

.empNav__search{
    border: none;
    border-radius: 2px;
    color: #fff !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff97;
    height: 35px;
    margin-left: 180px;
    width: 40%;
}
.empNav__search>input{
    background-color: #ffffff00;
    border: none;
    color: #fff;
    height: 30px;
    width: 450px;
}
.searchIcon{
    color: #fff !important;
    font-size: 100px;
    margin-left: -40px;
    margin-top: 2px;
    margin-right: 10px;    
}
.empNav__search>input:focus{
    outline: none;
}
.empNav__profile{
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: flex-end;
    /* justify-content: space-between; */
    /* background-color: red; */
    height: 50px;
    width: 28%;
}
/* .empNav__profile>h3:hover{
  font-size: 20px;
} */
.empNav__profile>h3{
    color:#fff !important;
}
.empNav__profile>h3>a{
    color: #fff !important;
    text-decoration: none;
}
.profileIcon{
    color: #fff !important;
    font-size: 45px !important;
    
}

.empNav__profile__showMenu{
    /* display: block; */
    background-color: #ab049a;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    height: 160px;
    /* display: none; */
    position: absolute;
    top: 90px;
    right: 20px;
    width: 130px;
    z-index: 1;
}
/* User Name on Navigation Bar  */
.empNav__profile__userName{
    margin-top: 5px;
    margin-right: 20px;
}
.empNav__profile__showMenu>a{
    color: #fff !important;
    font-size: 20px;
    text-decoration: none;
}
.empNav__profile__showMenu>a:hover{
    color:#00ffff;
}
.addEmp{
    background-color: #42a5f5;;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    height: 40px;
    margin-top: 100px;
    margin-left: 110px;
    /* position: sticky; */
    width:140px;
    z-index: 1;
}
.attendanceBtn{
    background-color: #42a5f5;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    width: 160px;
    position: relative;
    left: 900px;
}
.attendanceBtn>a{
    color: #fff !important;
    text-decoration: none;
}
.attendanceBtn:hover{
    background-color: rgb(61, 61, 242);
   
}
.addEmp:hover{
    background-color: rgb(61, 61, 242);
   
}
.addEmp>a{
    color: #fff !important;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
.empContainer{
    /* background-color: yellow; */
    display: flex;
    flex-wrap: wrap;
    min-height: min-content;
    margin-left: 81px;
    margin-top: 30px;
    width: 90%;
}

/* === CUSTOM SCROLL BAR === */

::-webkit-scrollbar{
    width: 13px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px gray;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: hotpink;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(225, 36, 130);
}

/* === Add Employment ===  */
.addUserForm{
    background-color: rgba(0, 0, 0, 0.391);
    height: 200vh;
    position: absolute;
    top: 0px;
    width: 100vw;
    z-index: 1;
}
.addUserForm__form{
    background-color: #fff;
    border-radius: 2px;
    height: 520px;
    margin-left: 38vw;
    margin-top: 60px;
    width: 380px;
}
.addUserForm__form>h3{
    color: #000000ca !important;
    position: relative;
    top: 15px;
    left: 135px;
    
}
.addUserForm__form>form{
    /* background-color: #ab049a; */
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
    height: 300px;
}
.addUserForm__form>form>label{
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 15px;
}
.addUserForm__form>form>input{
    border: none;
    border-bottom: 1px solid gray;
    font-size: 16px;
    height: 30px;
    width: 320px;
}
.addUserForm__form>form>input:focus{
    outline: none;
}
.formBtn{
    border: none;
    border-radius: 4px;
    background-color: #42a5f5;
    color: #fff !important;
    cursor: pointer;
    font-size: 17px;
    width: 100px;
    height: 40px;
    position: absolute;
    bottom: -120px;
    left: 100px;

}
.formBtn:hover{
    background-color: #006cc4;
}
.formBtn__cancel{

    cursor: pointer;
    position: relative;
    top: 70px;
    left: 125px;
}
.formBtn__cancel:hover{
    color: red;
}