

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    height: 90vh;
    
}
.login__Form{
    background-color: #fff;
    color: #000;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0px #575656;
    height: 380px;
    margin-left: 200px;
    margin-top: 20px;
    width: 300px;
}
.login__Form>h3{
    font-size: 22px;
    font-weight: bold;
    color:#2196f3 !important;
    margin-left: 25px;
    margin-top: 20px;
}
.login__Form>form>p{
    font-size: 14px;
    margin-top: 20px;
    margin-left: 60px;
}

.login__Form>form>p>.createAccountTitle>a{
    text-decoration: none;
}
.login__Form>form{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    /* justify-content: space-evenly; */
    height: 300px;
    margin-top: 50px;
}
.login__Form>form>input{
    border: none;
    box-shadow: 0px 0px 3px 0px #575656;
    border-radius: 2px;
    height: 35px;
    margin-bottom: 50px;
    margin-left: 25px;
    width: 250px;
}
.login__Form>form>input[type="password"]{
    -webkit-text-security: star;

}
.login__Form>form>input:focus{
    outline: none;
}
.signInBtn{
    border: none;
    background-color: #2196f3;
    border-radius: 27px;
    color: #fff !important;
    cursor: pointer;
    font-size: 15px !important;
    text-align: center;
    height: 35px;
    width: 100px;
    margin-left: 100px;
    margin-top: -15px;
}
.signInBtn>a{
    color: #fff !important;
    text-decoration: none;
}
.signInBtn:hover{
    background-color: #1565c0;
}
.login__Image{
    /* background-color: green; */
    height: 400px;
    width: 300px;
}
.login__Image>img{
    height: 400px;
    /* width: 400px; */
    margin-left: -150px;
}
.fancyBox{
    border: none;
    /* background-color: aqua; */
     /* background-image: linear-gradient(to right, #cc14ba , yellow); */
     background-image: linear-gradient(to right, #f1f1f1, #2195f3c7);
    border-radius: 100% 32% 72% 56% / 46% 45% 75% 69%    ;
    height:  250px;
    position: absolute;
    top: 55px;
    right: 230px;
    width: 250px;
    z-index: -1;
}